﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table thead  tr th{
    position: relative;
    cursor: pointer;
}
.table th{
    padding-right: 24px !important;
}
.th-icon {
    position: absolute !important;
    top: 10px !important;
    right: 4px;
    opacity: 0.4;
}

.table th, .table td{
    white-space: nowrap;
}

.crt-value, .crt-name{
    color: blue
}
.crt-list a{
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.table td a{
    margin: 5px;
    cursor: pointer;
}

.table td a i.glyphicon-edit{
    color:green;
}

.table td a i.glyphicon-trash {
    color: red;
}

