﻿
@{
    ViewBag.Title = "Edit";
}

@model INTRO.Entity.Customers
@{
    ViewBag.Title = "Detail";
}

@using (Html.BeginForm("Update", "Customer", FormMethod.Post))
{ 
    <div class="panel panel-primary">
        <div class="panel-heading">
            Customer Detail
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2 control-label">Customer ID</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.CustomerID, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">Company Name</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 control-label">Region</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.Region, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">Contact Name</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 control-label">Postal Code</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">Contact Title</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.ContactTitle, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 control-label">Country</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">Address</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 control-label">Phone</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">City</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 control-label">Fax</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Save</button>
            @Html.ActionLink("Back", "Index", "Customer", new { @class = "btn btn-default" })
        </div>
    </div>
}



