﻿
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary" style="margin-top: 10px;">
    <div class="panel-heading">
        Customer List
    </div>
    <div class="panel-body">
        <div id="grid-customer">
        </div>
    </div>
    <div class="panel-footer text-right">
        <button btn-add class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add New</button>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        (function () { 
            var grid = gridView("grid-customer", {
                url: "/Customer/Paging",
                columns: [
                    {
                        text: "", render: function () {
                            var template = "<a action='view'><i class='glyphicon glyphicon-search'></i></a>";
                            template += "<a action='edit' ><i class='glyphicon glyphicon-edit'></i></a>";
                            template += "<a action='remove'><i class='glyphicon glyphicon-trash'></i></a>";
                            return template;
                        }
                    },
                    { field: "CustomerID", text: "Customer ID", sortable: true },
                    { field: "CompanyName", text: "Company Name", sortable: true },
                    { field: "ContactName", text: "Contact Name", sortable: true },
                    { field: "ContactTitle", text: "Contact Title", sortable: true },
                    { field: "Address", text: "Address", sortable:true },
                    { field: "City", text: "City", sortable:true },
                    { field: "Country", text: "Country", sortable:true },
                ],
                fieldKey: "CustomerID",
                view: function (cus) {
                    location = "/Customer/Detail/" + cus.CustomerID;
                },
                edit: function (cus) {
                    location = "/Customer/Edit/" + cus.CustomerID;
                },
                remove: function (cus) {
                    if (confirm("Are you sure?")) {
                        $.ajax({
                            url: "/Customer/Delete",
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            data: JSON.stringify({ id: cus.CustomerID })
                        }).then(
                            function (res) {
                                if (res.meta.success) {
                                    grid.reload();
                                } else {
                                    alert(res.meta.message);
                                }
                            }
                        );
                    }
                }
            });

            document.querySelector("[btn-add]").onclick = function () {
                location = "/Customer/Add";
            }
        }());
         
    </script>
}
