﻿
@model INTRO.Entity.ProductView
@{
    ViewBag.Title = "Detail";
}

@using (Html.BeginForm("Update", "Product", FormMethod.Post))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            Product Detail
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2 control-label">Customer ID</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.ProductID, new { @class = "form-control", @readonly = true })
                    </div> 
                    <div class="col-md-2 control-label">Unit Price</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.UnitPrice, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">Product Name</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 control-label">Units In Stock</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.UnitsInStock, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">Supplier ID</div>
                    <div class="col-md-3">
                        <div class="input-group">
                            @Html.HiddenFor(m => m.SupplierID)
                            @Html.TextBoxFor(m => m.SupplierName, new { @class = "form-control" })
                            <div class="input-group-btn">
                                <button id="btn-select-supplier" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-2 control-label">Units On Order</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.UnitsOnOrder, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">Category ID</div>
                    <div class="col-md-3">
                        <div class="input-group">
                            @Html.HiddenFor(m => m.CategoryID)
                            @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
                            <div class="input-group-btn">
                                <button id="btn-select-category" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 control-label">Reorder Level</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.ReorderLevel, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">Quantity Per Unit</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.QuantityPerUnit, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 control-label">Discontinued</div>
                    <div class="col-md-3">
                        @Html.CheckBoxFor(m => m.Discontinued)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Save</button>
            @Html.ActionLink("Back", "Index", "Product", new { @class = "btn btn-default" })
        </div>
    </div>
   
}

    <div id="select-supplier" class="modal fade">
        <div class="modal-dialog" style="width: 800px">
            <div class="modal-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Select Supplier
                        <span class="close" style="color: white" data-dismiss="modal">&times;</span>
                    </div>
                    <div class="panel-body">
                        <div id="grid-supplier"></div>
                    </div>
                    <div class="panel-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="select-category" class="modal fade">
        <div class="modal-dialog" style="width: 800px">
            <div class="modal-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Select Supplier
                        <span class="close" style="color: white" data-dismiss="modal">&times;</span>
                    </div>
                    <div class="panel-body">
                        <div id="grid-category"></div>
                    </div>
                    <div class="panel-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts{
    <script>
        (function () {
            var gridSupplier = gridView("grid-supplier", {
                url: "/Supplier/Paging",
                columns: [
                    {
                        text: "", render: function (supp) {
                            return "<a action='select' data-dismiss='modal'><i class='glyphicon glyphicon-check'></i></a>";
                        }
                    },
                    { field: "SupplierID", text: "Supplier ID", sortable: true },
                    { field: "CompanyName", text: "Company Name", sortable: true },
                    { field: "ContactName", text: "Contact Name", sortable: true },
                    { field: "ContactTitle", text: "Contact Title", sortable: true },
                    { field: "Address", text: "Address", sortable: true },
                    { field: "City", text: "City", sortable: true },
                    { field: "Country", text: "Country", sortable: true },
                ],
                fieldKey: "SupplierID",
                select: function (supp) {
                    console.log("supp: ",supp);
                    document.querySelector("input[name='SupplierID']").value = supp.SupplierID;
                    document.querySelector("input[name='SupplierName']").value = supp.CompanyName;
                }
            });
            var gridCategory = gridView("grid-category", {
                url: "/Category/Paging",
                columns: [
                    {
                        text: "", render: function (supp) {
                            return "<a action='select' data-dismiss='modal'><i class='glyphicon glyphicon-check'></i></a>";
                        }
                    },
                    { field: "CategoryID", text: "Supplier ID", sortable: true },
                    { field: "CategoryName", text: "Company Name", sortable: true },
                    { field: "Description", text: "Contact Name" },
                    {
                        text: "Picture", render: function (ctg) {
                            var strImg = "data:image/jpg;base64," + ctg.Picture;
                            return "<img src='" + strImg + "' alt='' style='width: 48px; height: 32px; border-radius: 3px' />";
                        }
                    }
                ],
                fieldKey: "CategoryID",
                select: function (ctg) {
                    document.querySelector("input[name='CategoryID']").value = ctg.CategoryID;
                    document.querySelector("input[name='CategoryName']").value = ctg.CategoryName;
                }
            });

            document.querySelector("#btn-select-supplier").onclick = function () {
                $("#select-supplier").modal();
            };

            $("input[name='SupplierName']").on("click", function () {
                $("#btn-select-supplier").focus();
            })

            document.querySelector("#btn-select-category").onclick = function () {
                $("#select-category").modal();
            };

            $("input[name='CategoryName']").on("click", function () {
                $("#btn-select-category").focus();
            })
        }());

    </script>
    }





