﻿
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary" style="margin-top: 10px;">
    <div class="panel-heading">
        Product List
    </div>
    <div class="panel-body">
        <div id="grid-product">
        </div>
    </div>
    <div class="panel-footer text-right">
        <button btn-add class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add New</button>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        (function () {
            var grid = gridView("grid-product", {
                url: "/Product/Paging",
                columns: [
                    {
                        text: "", render: function () {
                            var template = "<a action='view'><i class='glyphicon glyphicon-search'></i></a>";
                            template += "<a action='edit' ><i class='glyphicon glyphicon-edit'></i></a>";
                            template += "<a action='remove'><i class='glyphicon glyphicon-trash'></i></a>";
                            return template;
                        }
                    },
                    { field: "ProductID", text: "Product ID", sortable: true },
                    { field: "ProductName", text: "Product Name", sortable: true },
                    { field: "SupplierName", text: "Supplier", sortable: true },
                    { field: "CategoryName", text: "Category", sortable: true },
                    { field: "QuantityPerUnit", text: "Quantity Per Unit", sortable:true },
                    { field: "UnitPrice", text: "Unit Price", sortable:true },
                    { field: "UnitsInStock", text: "Units In Stock", sortable:true },
                ],
                fieldKey: "ProductID",
                view: function (prod) {
                    location = "/Product/Detail/" + prod.ProductID;
                },
                edit: function (prod) {
                    location = "/Product/Edit/" + prod.ProductID;
                },
                remove: function (prod) {
                    if (confirm("Are you sure?")) {
                        $.ajax({
                            url: "/Product/Delete",
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            data: JSON.stringify({ id: prod.ProductID })
                        }).then(
                            function (res) {
                                if (res.meta.success) {
                                    grid.reload();
                                } else {
                                    alert(res.meta.message);
                                }
                            }
                        );
                    }
                }
            });

            document.querySelector("[btn-add]").onclick = function () {
                location = "/Product/Add";
            }
        }());

    </script>
}


