﻿
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary" style="margin-top: 10px;">
    <div class="panel-heading">
        Supplier List
    </div>
    <div class="panel-body">
        <div id="grid-supplier">
        </div>
    </div>
    <div class="panel-footer text-right">
        <button class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add New</button>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        (function () {
            var grid = gridView("grid-supplier", {
                url: "/Supplier/Paging",
                columns: [
                    { text: ""},
                    { field: "SupplierID", text: "Supplier ID", sortable: true },
                    { field: "CompanyName", text: "Company Name", sortable: true },
                    { field: "ContactName", text: "Contact Name", sortable: true },
                    { field: "ContactTitle", text: "Contact Title", sortable: true },
                    { field: "Address", text: "Address", sortable:true },
                    { field: "City", text: "City", sortable:true },
                    { field: "Country", text: "Country", sortable:true },
                ],
                fieldKey: "SupplierID"
            });
        }());
    </script>
}

