﻿@model INTRO.WEBMVC.Models.Contact
@{
    ViewBag.Title = "Hello";
}

<h2>Hello</h2>

@using(Html.BeginForm("GetHello", "Home"))
{
@Html.LabelFor(c => c.ID) <br/>
@Html.TextBoxFor(c => c.ID)<br />
                           <br />
@Html.LabelFor(c => c.Name)<br />
@Html.TextBoxFor(c => c.Name)<br />
                             <br />
<button type="submit">Submit</button>
}