﻿
@model INTRO.WEBMVC.Models.CustomerModel

@{
    ViewBag.Title = "Index";
}

<h2>List Customers</h2>
<div style="width: 100%; overflow-x: scroll">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-1">Criteria: </div>
            <div class="col-md-3">
                <select class="form-control" name="criteria" required>
                    <option disabled value="">--Select Criteria--</option>
                    <option value="CustomerID">Customer ID</option>
                    <option value="CompanyName">Company Name</option>
                    <option value="ContactName">Contact Name</option>
                    <option value="ContactTitle">Contact Title</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="text" name="value" class="form-control" placeholder="Value" required/>
            </div>
            <div class="col-md-2">
                <button btn-search type="button" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Search</button>
            </div>
        </div>
        <div crt-list class="form-group crt-list">
            
        </div>
    </div>
    <table id="grid-customer" class="table">
        <thead>
            <tr>
                <th></th>
                <th sortable="CustomerID">CustomerID</th>
                <th sortable="CompanyName">Company Name</th>
                <th sortable="ContactName">Contact Name</th>
                <th sortable="ContactTitle">Contact Title</th>
                <th sortable="Address">Address</th>
                <th sortable="City">City</th>
            </tr>
        </thead>
        <tbody trows></tbody>
    </table>
</div>
<div style="margin-top: 10px; position: relative">
    <div style="width: 25%; min-width: 100px; display: inline-block">
        Total Row(s): <span row-count>0</span>
    </div>
    <div class="text-right" style="width: 70%; min-width: 200px;
display: inline-block; position: absolute; right: 0">
        Page Size: 
        <select id="page-size" class="form-control" 
                style="width: 60px; display: inline-block; padding: 8px 6px;">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option> 
        </select>
        Page: <span id="page">1</span> 
        <button id="btn-prev" type="button" class="btn btn-primary btn-sm">
            <i class="glyphicon glyphicon-chevron-left"></i> Prev
        </button>
        <button id="btn-next" type="button" class="btn btn-primary btn-sm">
            Next <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
    </div>
</div>



@section scripts
{
    <script>
        (function () {
            console.log("Script invoked!");
            var data = {
                option: {
                    page: 1,
                    pageSize: 5,
                    criteria: [],
                    order: "CustomerID ASC"
                }
            };

            function loadData() {
                $.ajax({
                    url: "/Home/GetPaging",
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: JSON.stringify(data)
                }).then(
                    function (res) {
                        var rows = res.Rows;
                        var trows = document.querySelector("[trows]");
                        trows.innerHTML = "";
                        rows.forEach(function (row, i) {
                            var tr = document.createElement("tr");
                            tr.innerHTML += "<td></td>";
                            tr.innerHTML += "<td>" + row.CustomerID + "</td>";
                            tr.innerHTML += "<td>" + row.CompanyName + "</td>";
                            tr.innerHTML += "<td>" + row.ContactName + "</td>";
                            tr.innerHTML += "<td>" + row.ContactTitle + "</td>";
                            tr.innerHTML += "<td>" + row.Address + "</td>";
                            tr.innerHTML += "<td>" + row.City + "</td>";
                            trows.appendChild(tr); 
                        });
                        $("[row-count]").text(res.RowCount);
                        $("#page").text(data.option.page);
                        document.querySelector("#btn-prev").disabled = data.option.page === 1;
                        document.querySelector("#btn-next").disabled = data.option.page === res.PageCount;
                    },
                    function (err) {
                        console.log("Error: ", err);
                    }
                );
            } 
            document.querySelector("#btn-prev").onclick = function () {
                data.option.page--;
                loadData();
            } 

            $("#btn-next").click(function () {
                data.option.page++;
                loadData();
            });

            $("#page-size").change(function (e) {
                pgsz = e.target.value;
                data.option.page = 1;
                data.option.pageSize = pgsz;
                loadData();
            });
            
            var grid = document.querySelector("#grid-customer");
            var listth = grid.querySelectorAll("th[sortable]");
            listth.forEach(function (th, i) {
                var icon = document.createElement("i");
                icon.className = "th-icon glyphicon glyphicon-sort";
                th.appendChild(icon);                
                th.onclick = function () {
                    var col = th.attributes["sortable"].value;
                    var ords = data.option.order.split(" ");
                    if (ords[0] === col) {
                        data.option.order = col + " " + (ords[1] === "ASC" ? "DESC" : "ASC");
                    } else {
                        data.option.order = col + " ASC";
                    }
                    loadData();
                    //sett icon
                    var icons = grid.querySelectorAll("th[sortable] i");
                    icons.forEach(function (ic, i) {
                        ic.className = "th-icon glyphicon glyphicon-sort";
                        ic.style.opacity = "0.4";
                        ic.parentElement.style.backgroundColor = "white";
                    });
                    ords = data.option.order.split(" ");
                    var elic = grid.querySelector("[sortable='" + col + "'] i");
                    elic.className = "th-icon glyphicon glyphicon-sort-by-attributes" + (ords[1] === "ASC" ? "" : "-alt");                    
                    elic.style.opacity = "0.8";
                    elic.parentElement.style.backgroundColor = "#eee";
                }
            });

            function showCriteria() {
                var crtList = document.querySelector("[crt-list]");
                crtList.innerHTML = "";
                data.option.criteria.forEach(function (c, i) {
                    crtList.innerHTML += "<div class='col-md-10'>Search <span class='crt-name'>'" + c.name + "'</span> Contains <span class='crt-value'>'" + c.value + "'</span> <a col-name='CustomerID'>Remove</a></div>";                    
                }); 

                var lista = crtList.querySelectorAll("a");
                lista.forEach(function (a, i) {
                    a.onclick = function () {
                        data.option.criteria.splice(i, 1);
                        loadData();
                        showCriteria();
                    }
                });
            }

            function search() {
                var crt = {
                    name: document.querySelector("[name='criteria']").value,
                    value: document.querySelector("[name='value']").value
                };
                console.log("crt", crt);
                data.option.criteria.push(crt);
                loadData(); 
                showCriteria();
            }

            document.querySelector("[btn-search]").onclick = search; 
             

            loadData();
        }());

    </script>
}
