﻿
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary" style="margin-top: 10px;">
    <div class="panel-heading">
        Shipper List
    </div>
    <div class="panel-body">
        <div id="grid-shipper">
        </div>
    </div>
    <div class="panel-footer text-right">
        <button class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add New</button>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        (function () {
            var grid = gridView("grid-shipper", {
                url: "/Shipper/Paging",
                columns: [
                    { text: ""},
                    { field: "ShipperID", text: "ShipperID", sortable: true },
                    { field: "CompanyName", text: "Company Name", sortable: true },
                    { field: "Phone", text: "Phone", sortable: true }
                ],
                fieldKey: "ShipperID"
            });
        }());
    </script>
}

